mat-card {
  max-width: 280px;
  margin: 2em;
}

mat-card-header {
  justify-content: center;
}

mat-card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

img {
  max-height: 370px;
}

.header-button {
  margin-top: 2em;
  margin-right: 2em;
  border-bottom: 1px solid;
  border-radius: 0;
  font-size: medium;

}

.header {
  display: flex; 
  justify-content: right;
  margin-bottom: 2rem; 
}