<!DOCTYPE html>

<mat-card>
  <mat-card-header>
    <mat-card-title><h1>Director Information: </h1></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-card-subtitle style="margin-bottom: 1em;"><span style="font-weight: bold;">Name: </span>{{this.data.name}} </mat-card-subtitle>
    <mat-card-subtitle style="margin-bottom: 1em;"><span style="font-weight: bold;">Biography: </span>{{this.data.bio}} </mat-card-subtitle>
    <mat-card-subtitle><span style="font-weight: bold;">Born In: </span>{{this.data.birthYear}}</mat-card-subtitle>
  </mat-card-content>
</mat-card>
